{namespace neos=Neos\Neos\ViewHelpers}
{namespace fusion=Neos\Fusion\ViewHelpers}
{namespace media=Neos\Media\ViewHelpers}
<f:security.ifHasRole role="Neos.Neos:AbstractEditor">
    <f:form action="create" objectName="newUser" controller="User" package="NeosRulez.FrontendLogin">
        <div class="neos-content neos-container-fluid">
            <f:render partial="User/BackendFormFields" arguments="{_all}" />
        </div>
        <div class="neos-footer">
            <f:form.submit class="neos-button neos-button-primary" value="{f:translate(id: 'save', package: 'NeosRulez.FrontendLogin', source: 'Main')}" />
        </div>
    </f:form>
</f:security.ifHasRole>