{namespace neos=Neos\Neos\ViewHelpers}
{namespace fusion=Neos\Fusion\ViewHelpers}
{namespace media=Neos\Media\ViewHelpers}

<f:form action="update" object="{login}" objectName="login" controller="Login">

    <div class="neos-content neos-container-fluid">
        <f:render partial="User/BackendFormFields" arguments="{_all}" />
    </div>

    <f:form.submit class="neos-button neos-button-primary" style="margin-top:20px;" value="{f:translate(id: 'save', package: 'NeosRulez.FrontendLogin', source: 'Main')}" />

</f:form>

<f:if condition="{edit}">
    <f:form action="updatepassword" arguments="{email: login.username}" controller="Login">
        <legend style="margin-top:20px;">{f:translate(id: 'passwordLabel', package: 'NeosRulez.FrontendLogin', source: 'NodeTypes/Plugin/Login')}</legend>
        <div class="neos-control-group mt-3">
            <label for="password">{f:translate(id: 'passwordLabel', package: 'NeosRulez.FrontendLogin', source: 'NodeTypes/Plugin/Login')} <sup>*</sup></label>
            <input type="password" id="password" name="moduleArguments[password]" placeholder="{f:translate(id: 'passwordLabel', package: 'NeosRulez.FrontendLogin', source: 'NodeTypes/Plugin/Login')}" required="required">
        </div>
        <div class="neos-control-group mt-4">
            <label for="password2">{f:translate(id: 'passwordrepeat', package: 'NeosRulez.FrontendLogin', source: 'NodeTypes/Plugin/Registration')} <sup>*</sup></label>
            <input type="password" id="password2" name="moduleArguments[password2]" placeholder="{f:translate(id: 'passwordrepeat', package: 'NeosRulez.FrontendLogin', source: 'NodeTypes/Plugin/Registration')}" required="required">
        </div>
        <f:form.submit class="neos-button neos-button-primary" style="margin-top:20px;" value="{f:translate(id: 'save', package: 'NeosRulez.FrontendLogin', source: 'Main')}" />
    </f:form>
</f:if>